@import "../../../styles/functions";
@import "../../../styles/mixins";

.Avatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-Image {
    border: 2px solid var(--white);
    border-radius: 50%;
    @include base-transition;
  }

  &-Image_size_lg {
    width: 80px;
    height: 80px;
  }
  &-Image_size_sm {
    width: 50px;
    height: 50px;
  }
}
