@mixin active {
  background-color: var(--blue-600);
  color: var(--white);
}

@mixin base-transition {
  transition: all 0.3s;
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
