@import "../../styles/functions";
.MainPage {
  display: flex;
  height: 100vh;

  &-ContactsList {
    flex-grow: 0;
    width: calc(345 / 1200 * 100%);
    border-right: 1px solid var(--grey-200);
    overflow-y: scroll;
  }
  &-Form {
    background-color: var(--white);
    padding: toRem(20) toRem(14);
    border-bottom: 1px solid var(--grey-200);
  }
}
