.App {
  display: grid;
  grid-template-columns: minmax(80px, 247px) minmax(345px, 1fr) 1.75fr;
  /*   align-content: center;
  justify-content: center; */
  grid-auto-flow: column;

  height: 100vh;
}

.ContactsList {
  background-color: var(--white);
  height: 100%;
}
