.App {
  /*   grid-template-columns: 1fr minmax(auto, 1fr); */
  /*   align-content: center;
  justify-content: center; */
  /*   grid-auto-flow: column; */

  height: 100vh;
}

.ContactsList {
  background-color: var(--white);
  height: 100%;
}
