$white: #fff;
$orange: #f27c6e;
$red: #f53648;

//green colors
$green-100: #71cd50;
$green-200: #27ae60;

//grey colors
$grey-100: #e7ecf1;
$grey-200: #ccd1d6;
$grey-300: #7d98b3;
$grey-400: #798ca5;
$grey-500: #6d84a0;

//blue colors
$blue-100: #58aafc;
$blue-200: #4290de;
$blue-300: #2580db;
$blue-400: #267fdb;
$blue-500: #2680d9;
$blue-600: #1a69b8;
$blue-700: #114475;

:root {
  --white: #fff;
  --orange: #f27c6e;
  --red: #f53648;

  //green colors
  --green-100: #71cd50;
  --green-200: #27ae60;

  //grey colors
  --grey-100: #e7ecf1;
  --grey-200: #ccd1d6;
  --grey-300: #7d98b3;
  --grey-400: #798ca5;
  --grey-500: #6d84a0;

  //blue colors
  --blue-100: #58aafc;
  --blue-200: #4290de;
  --blue-300: #2580db;
  --blue-400: #267fdb;
  --blue-500: #2680d9;
  --blue-600: #1a69b8;
  --blue-700: #114475;
}
