:root {
  --font-family: Roboto, sans-serif;

  //small font
  --font-size-s: 14px;

  //medium font
  --font-line-m: 20px;
  --font-size-m: 16px;

  //large font
  --font-line-l: 21px;
  --font-size-l: 18px;

  //font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
