@import "../../../styles/functions";
@import "../../../styles/mixins";

.Nav {
  &-Item {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: toRem(24);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-100);
    list-style-type: none;
    @include base-transition;

    &:hover {
      @include active;
    }

    &_active {
      @include active;
    }
  }

  &-ItemText {
    width: 0%;
    overflow: hidden;
    margin-left: toRem(20);
    display: none;
  }
  &-ItemText_open {
    width: 100%;
    margin-left: toRem(20);
    display: inline-block;
  }

  &-Badge {
    position: absolute;
    top: 50%;
    right: toRem(20);
    transform: translateY(-50%);
  }
}
