@import "../../../styles/functions";
@import "../../../styles/mixins";

.Nav {
  &-Item {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: toRem(26) toRem(28);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-100);
    list-style-type: none;
    @include base-transition;

    &:hover {
      @include active;
    }
  }

  &-Item_active {
    @include active;
  }

  &-Text {
    width: 0%;
    margin-left: toRem(20);
    opacity: 0;
    @include base-transition;
  }

  &-Text_open {
    margin-left: toRem(20);
    display: inline-block;
    opacity: 1;
  }

  &-Badge {
    position: absolute;
    top: 40px;
    right: 22px;
  }

  &-Badge_open {
    top: 50%;
    right: toRem(20);
    transform: translateY(-50%);
  }
}
