@import "./styles/reset";
@import "./styles/fonts";
@import "./styles/variables/colors";
@import "./styles/variables/fonts";
@import "./styles/functions";
@import "./styles/mixins";
@import "./styles/visually-hidden";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 68, 117, 0.5);
  border-radius: 3px;
  height: 7px !important;
  width: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(17, 68, 117, 0.8);
}

@supports (scrollbar-color: rgba(17, 68, 117, 0.5) rgba(17, 68, 117, 0.5)) {
  * {
    scrollbar-color: rgba(17, 68, 117, 0.5) rgba(17, 68, 117, 0.5);
    scrollbar-width: thin;
  }
}

body {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--grey-100);
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  color: var(--blue-700);
}
