@import "./styles/reset";
@import "./styles/fonts";
@import "./styles/variables/colors";
@import "./styles/variables/fonts";
@import "./styles/functions";

body {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  min-height: 100vh;

  background-color: $grey-100;

  font-family: var(--font-family);
  font-size: var(--font-size-m);
  font-weight: var--(font-weight-regular);
  color: var(--blue-700);
}
