@import "../../../styles/functions";

.Badge {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 7px rgba(17, 68, 117, 0.35);
  font-weight: var(--font-weight-regular);
  color: var(--white);

  &_size_sm {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: var(--font-size-xxs);
  }

  &_size_lg {
    width: 33px;
    height: 22px;
    padding: 0 toRem(5);
    border-radius: 11px;
    font-size: var(--font-size-xs);
  }

  &_size_xl {
    width: 94px;
    height: 30px;
    border-radius: 17px;
    font-size: var(--font-size-xs);
  }

  &_color_blue {
    background-color: var(--blue-400);
  }
  &_color_red {
    background-color: var(--red);
  }
  &_color_grey {
    background-color: var(--grey-300);
  }
}
